<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LRNT</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>LRNT</h1>
</header>
<nav>
    <ul class="navbar-auth">
        <li><a href="/">Homepage</a></li>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>

<div>
    <form class="upload-form" id="upload-form">
        <p class="upload-details" id="error-info"></p>
        <label class="upload-details">Title:</label><input name="title" class="upload-details" required>
        <label class="upload-details" >Description:</label><input name="description" class="upload-details" required>
        <label class="upload-details">Upload a file:</label><input id="upload-file" name="file" class="upload-details" type="file" required>
        <button id="upload-button" type="submit">Upload</button>
    </form>
</div>

</body>
<script th:src="@{/javascript/upload.js}"></script>
</html>