<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LRNT</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>LRNT</h1>
</header>
<nav>
    <ul class="navbar">
        <li><a href="#">Homepage</a></li>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>

<!-- content for visitors - not logged in -->
<div id="guest-content">
    <button class="homepage-button">Let's find something!</button>
    <a href="/account"><button class="homepage-button" th:action="account">Log in or sign up!</button></a>
</div>


<img id="homepage-image" th:src="@{/css/vectors/homepage.svg}" alt="Audio">

</body>
</html>