body {
    font-family: 'League Spartan', sans-serif;
    background: rgb(255,255,255);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(249,100,37,1) 0%, rgba(255,255,255,1) 100%);
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

.navbar li {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 13%;
    margin-right: 13%;
}

#homepage-image {
    width: 25%;
    float: right;
    margin-top: 5%;
    margin-right: 15%;
}

