body {
    font-family: 'League Spartan', sans-serif;
    background: rgb(255,255,255);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(249,100,37,1) 0%, rgba(255,255,255,1) 100%);
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
}

.navbar li {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 13%;
    margin-right: 13%;
}

#homepage-image {
    width: 25%;
    float: right;
    margin-top: 5%;
    margin-right: 15%;
}

.homepage-button {
    background-color: #ef440a;
    border: none;
    color: #f4e8e8;
    padding: 15px 32px;
    text-align: center;
    float: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'League Spartan', sans-serif;
    margin-top: 15%;
    margin-left: 15%;
    cursor: pointer;
    border-radius: 8px;
}

.homepage-button:hover {
    background-color: #a9380d;
}

.password-input, .login{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 12px;
    margin: 0 auto;
}

.submit-button {
    display: block;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 12px;
    border-color: white;
    background-color: #ef440a;
    color: #fff3f3;
    margin-top: 5%;
}

.login-form {
    display: inline-block;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 15%;
}

.signup-form {
    display: inline-block;
    margin-right: 20%;
    margin-left: 20%;
}






