<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <h1>LRNT</h1>
</header>
<nav>
    <ul class="navbar">
        <li><a href="/">Homepage</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="/account">Account</a></li>
    </ul>
</nav>
<main>
    <form class="login-form" id="login-form">
        <p id="error-login"></p>
        <h2 class="login">Login</h2>
        <label class="login">Email: </label><input class="login" type="email" name="email" required>
        <label class="password-input">Password: </label><input class="login" type="password" name="password" required>
        <button class="submit-button" type="submit">Log in</button>
    </form>

    <form class="signup-form" id="signup-form">
        <h2 class="login">Sign Up</h2>
        <p id="error-signup"></p>
        <label class="login">Username: </label><input class="login" type="text" name="username" required>
        <label class="login">Email: </label><input class="login" type="email" name="email" required>
        <label class="password-input">Password: </label><input class="login" type="password" name="password" required>
        <label class="password-input">Repeat password: </label><input class="login" type="password" name="passwordRepeat" required>
        <button class="submit-button" type="submit" id="submit-button">Sign up</button>
    </form>
</main>
</body>
<script th:src="@{/javascript/login-handler.js}"></script>
</html>